
<div class="page-title" >
  <h4>Мои файлы</h4>
</div>
<div class="container left" *ngIf="files$ | async as files; else loader">
  <div class="row" *ngIf="files.length !==0">
    <h5 class="col s3 left">
      Имя файла
    </h5>
  </div>
  <div class="loadercheck" *ngIf="files.length !==0;else empty">
    <div class="row collection"
         *ngFor="let file of files"
    >
      <h6 class="col s9 left"
      >
        {{file.name}}
      </h6>
      <div class="col s3">
        <button class="btn waves-effect darken-1 btn-small" [routerLink]="['/file', file._id]">Открыть</button>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <h5 class="center">
    У Вас нет ни одного доступного Вам файла.
  </h5>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
