<form
  class="container"
  *ngIf="file$ | async as file; else loader"
>
  <div class="page-title">
    <h4>Файл: {{file.name}}</h4>
  </div>
  <div class="row">
    <div class="col s2">
      <button
        class="btn waves-effect darken-1 btn-small"
        (click)="downloadFile()"
      >
        Скачать
      </button>
    </div>
    <div class="col s2">
      <button
        class="btn waves-effect red darken-1 btn-small"
        (click)="deleteFile()"
      >
        Удалить файл
      </button>
    </div>
    <div class="col s2">
      <button class="btn waves-effect darken-1 btn-small" (click)="createShare()">Открыть доступ</button>
    </div>
    <div class="col s2">
      <button class="btn waves-effect orange darken-1 btn-small" (click)="removeAccess()">Закрыть доступ</button>
    </div>
  </div>
  <div class="h4 left bold" *ngIf="msg">{{msg}}</div>
</form>
<div class="row content"></div>
<div class="row content">
  {{file}}
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
